{% extends 'base/base_ata.html' %}
{% block header %} 
Blog 
{% endblock %}

{% block content %}



<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <img src="https://i.postimg.cc/FK2YMSd0/profile-pic2.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container author_content">
    <div class="row justify-content-center">
        <div class="col-md-8 text-left">
            <div class="textauthor">
                <h3>Zulyano Rizqullah</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione culpa inventore laudantium pariatur iusto nostrum esse, neque corporis incidunt maiores sed earum id asperiores exercitationem illo modi quaerat optio laborum!</p>
                <table class='tableauthor'>
                    <tr>
                        <td>Alamat</td>
                        <td class="geser">: 1111 S Figueroa St, Los Angeles, CA 90015, USA</td>
                    </tr>
                    <tr>
                        <td>Telephone</td>
                        <td class="geser">: +1-541-754-3010</td>
                    </tr>
                    <tr>
                        <td>Education</td>
                        <td class="geser">: S1 Teknik Telekomunikasi</td>
                    </tr>
                    <tr>
                        <td>Profession</td>
                        <td class="geser">: Mentee Alpha Tech Academy</td>
                    </tr>
                    <tr>
                        <td>Nationality</td>
                        <td class="geser">: Swiss</td>
                    </tr>
                    <tr>
                        <td>Company</td>
                        <td class="geser">: Alterra Academy</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td class="geser">: zulyano@alterra.id</td>
                    </tr>
                </table>
                <div class="gmaps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3306.0335599359655!2d-118.26955374981827!3d34.04301022557004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c7b85f6c7359%3A0xe51e34447c8cdb69!2sSTAPLES+Center%2C+1111+S+Figueroa+St%2C+Los+Angeles%2C+CA+90015%2C+USA!5e0!3m2!1sen!2sid!4v1563891347305!5m2!1sen!2sid" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>        
            
    
{% endblock %}