{% extends 'base/base_ata.html' %}

{% block contact %}
Contact Person: Email: academy@alphatech.id Mobile Phone: 0877 9609 9530
{% endblock %}
{% block content %}

<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4 align-items-center">
            <div class="img_komputer">
                <img src="https://i.postimg.cc/m2tgpQQg/benefit.png">
            </div>
        </div>
        <div class="col-md-8">
            <div class="home_desc_1">
                <h2>Learn awesome tech</h2>
                <p>You will learn about programming language, such as Python, and Javascript, build back-end apps using Flask framework with microservice concept, build client-site apps using React Library, etc.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 align-items-center">
            <div class="img_lup">
                <img src="https://i.postimg.cc/L40HPnrK/search-job.png">
            </div>
        </div>
        <div class="col-md-8">
            <div class="home_desc_2">
                <h2>Land new job</h2>
                <p>If you can pass this awesome program, you will be part of our reliable tech team, especially for Software Engineer position such as Quality Engineer, System Analyst, etc.</p>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4 align-items-center">
            <div class="img_duit">
                <img src="https://i.postimg.cc/hj2Kpjvm/get-paid.png">
            </div>
        </div>
        <div class="col-md-8">
            <div class="home_desc_3">
                <h2>Get paid to learn</h2>
                <p>Join for free and earn some money. Yes you read that right, no registration fee required to enter this program. To make things even better, you will receive pocket money just for participating. Cool, right?</p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4 align-items-center">
            <div class="img_orang">
                <img src="https://i.postimg.cc/Pq4H5xm7/mission.png">
            </div>
        </div>
        <div class="col-md-8">
            <div class="home_desc_1">
                <h2>Who are we?</h2>
                <p>Alpha Tech Academy is a tech talent incubation that gives anyone any chance (even non IT background) to learn within 3 months of being a professional Tech Talent. What is our mission? We want to improve capability Tech Talent in Indonesia.</p>
                <br>
                <br>
                <h2>What is our mission?</h2>
                <p>We want to improve capability Tech Talent in Indonesia.</p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="what_learn text-center"><h3>What will you learn?</h3></div> 
<div class="container">
    <div class="row justify-content-center align-items-center text-center logo_program">
        <div class="col-md-2">
            <div class="logo-box">
            <img src="https://i.postimg.cc/ZqFbvjhV/learn-html.png">
            </div>
        </div>
        <div class="col-md-2">
            <div class="logo-box">
            <img src="https://i.postimg.cc/c424prmM/learn-programming.png">
            </div>
        </div>
        <div class="col-md-2">
            <div class="logo-box">
            <img src="https://i.postimg.cc/vBYQr9YM/learn-git.png">
            </div>
        </div>
        <div class="col-md-2">
            <div class="logo-box">
            <img src="https://i.postimg.cc/m2zTyTsc/learn-api.png"> 
            </div>           
        </div>
    </div>
    <div class="row justify-content-center align-items-center text-center logo_program">
        <div class="col-md-2">
            <div class="logo-box">
            <img src="https://i.postimg.cc/6qTtSX4m/learn-react.png">
            </div>
        </div>
        <div class="col-md-2">
            <div class="logo-box">
            <img src="https://i.postimg.cc/GmDhddg0/learn-tdd.png">
            </div>
        </div>
        <div class="col-md-2">
            <div class="logo-box">
            <img src="https://i.postimg.cc/c4p0DPxF/learn-server.png">
            </div>
        </div>
        <div class="col-md-2">
            <div class="logo-box">
            <img src="https://i.postimg.cc/vTjbwNWH/learn-scrum.png">
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}
